@model System.Collections.Generic.IEnumerable<worksync.ArticleImageGallery>
<div class="list-containter-outer">
    <div class="list-containter-inner">
        @{ foreach (worksync.ArticleImageGallery item in Model.OrderByDescending(x => x.ItemDate))
            {
                @RenderArticleItemList(item);

            }
        }
    </div>
</div>


@helper RenderArticleItemList(worksync.ArticleImageGallery item)
{

    <a href="@item.LinkURL" class="article">
        <div class="list-icon">
            <i class="fas fa-feather" style="margin: auto;"></i>
        </div>
        <div class="list-content">
            <div class="list-content-title">@item.Name</div>
            <div class="list-content-desc">@item.Introduction</div>
        </div>
        <div class="list-date">
            @item.ItemDate.ToString("dd MMM yyyy")
        </div>

    </a>
}