@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>worksync</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
     <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    @*<link rel="stylesheet" href="~/assets/css/Article-List.css">*@
    @*<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/css/navbar.css">
    @RenderSection("StyleSheetPlus", false)
</head>
    <body>
        @RenderSection("ScriptsTop", false)
        @{ Html.RenderAction("RenderHeader", "SiteLayout"); }
        @RenderBody()
        @{ Html.RenderAction("RenderFooter", "SiteLayout"); }
        @RenderSection("ScriptsBottom", false)

        <!-- MAIN JS -->
        @*<script src="~/assets/js/main.js"></script>*@
        <!-- ScriptsEnd JS -->
        @RenderSection("ScriptsEnd", false)
    </body>
</html>
                